<div style="text-align: center;">
  <p>&nbsp;</p>
  <h1><span style="color: #172154;"><span style="text-decoration: underline;"><em>League Of Legends Counter Database</em></span></span></h1>
  <table style="width: 20%; border-color: #172154; height: 1px; background-color: #e6b533; float: left;" border="1" cellspacing="2" cellpadding="1">
    <tbody>
    <tr style="height: 18px;">
      <th style="color: #172154; width: 100%; height: 18px;">
        <p>ADC</p>
      </th>
    </tr>
    <tr style="height: 23px; text-align: center;">
      <td style="width: 100%; height: 23px;"><em><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(1)">Ashe</button></em></td>
    </tr>
    <tr style="height: 22px; text-align: center;">
      <td style="width: 100%; height: 22px;"><em><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(2)">Caitlyn</button></em></td>
    </tr>
    <tr style="height: 21px; text-align: center;">
      <td style="width: 100%; height: 21px;"><em><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(3)">Corki</button></em></td>
    </tr>
    <tr style="height: 24px; text-align: center;">
      <td style="width: 100%; height: 27px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(4)">Draven</button></td>
    </tr>
    <tr style="height: 24px; text-align: center;">
      <td style="width: 100%; height: 30px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(5)">Ezreal</button></td>
    </tr>
    <tr style="height: 24px; text-align: center;">
      <td style="width: 100%; height: 24px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(6)">Jhin</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(7)">Jinx</button></td>
    </tr>
    <tr style="height: 23px; text-align: center;">
      <td style="width: 100%; height: 23px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(8)">Kai'sa</button></td>
    </tr>
    <tr style="height: 23px; text-align: center;">
      <td style="width: 100%; height: 23px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(9)">Kalista</button></td>
    </tr>
    <tr style="height: 24px; text-align: center;">
      <td style="width: 100%; height: 27px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(10)">Kog Maw</button></td>
    </tr>
    <tr style="height: 26px; text-align: center;">
      <td style="width: 100%; height: 26px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(11)">Lucian</button></td>
    </tr>
    <tr style="height: 20px; text-align: center;">
      <td style="width: 100%; height: 30px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(12)">Miss Fortune</button></td>
    </tr>
    <tr style="height: 24px; text-align: center;">
      <td style="width: 100%; height: 27px;"><button style="background-color: #172154; color: #e6b533;"  (click)="getADCByNumber(13)">Sivir</button></td>
    </tr>
    <tr style="height: 20px; text-align: center;">
      <td style="width: 100%; height: 20px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(14)">Tristana</button></td>
    </tr>
    <tr style="height: 25px; text-align: center;">
      <td style="width: 100%; height: 31px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(15)">Twitch</button></td>
    </tr>
    <tr style="height: 24px; text-align: center;">
      <td style="width: 100%; height: 26px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(16)">Varus</button></td>
    </tr>
    <tr style="height: 25px; text-align: center;">
      <td style="width: 100%; height: 26px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(17)">Vayne</button></td>
    </tr>
    <tr style="height: 25px; text-align: center;">
      <td style="width: 100%; height: 33px;"><button style="background-color: #172154; color: #e6b533;" (click)="getADCByNumber(18)">Xayah</button></td>
    </tbody>
  </table>
  <table style="width: 30%; border-color: #a47700; background-color: #172154; float: left;" border="2" cellspacing="7" cellpadding="1">
    <tbody>
    <tr style="height: 95px;">
      <th style="width: 100%; height: 95px;">
        <p><span style="color: #e6b533;">Selected ADC</span></p>
      </th>
    </tr>
    <tr style="height: 160px;">
      <th style="width: 100%; height: 160px;">
        <p><span style="color: #e6b533;">Name: {{adc.championName}}</span></p>
      </th>
    </tr>
    <tr style="height: 96px;">
      <th style="width: 100%; height: 96px;"><span style="color: #e6b533;">&nbsp;Counter ADC</span></th>
    </tr>
    <tr style="height: 218px;">
      <th style="width: 100%; height: 218px;">
        <p><span style="color: #e6b533;">Counter: {{adc.counter}}</span></p>
      </th>
    </tr>
    </tbody>
  </table>
  <table style="width: 30%; border-color: #e6b533; height: 1px; background-color: #172154; float: left;" border="2" cellspacing="7" cellpadding="1">
    <tbody>
    <tr style="height: 95px;">
      <th style="width: 100%; height: 95px;"><span style="color: #e6b533;">Selected Support</span></th>
    </tr>
    <tr style="height: 160px;">
      <th style="width: 100%; height: 160px;">
        <p><span style="color: #e6b533;">Name: {{support.championName}}</span></p>
      </th>
    </tr>
    <tr style="height: 94px;">
      <th style="width: 100%; height: 94px;"><span style="color: #e6b533;">&nbsp;Counter Support</span></th>
    </tr>
    <tr style="height: 220px;">
      <th style="width: 100%; height: 220px;">
        <p><span style="color: #e6b533;">Counter: {{support.counter}}</span></p>
      </th>
    </tr>
    </tbody>
  </table>
  <table style="width: 20%; border-color: #172154; height: 1px; background-color: #e6b533; float: left;" border="1" cellspacing="2" cellpadding="1">
    <tbody>
    <tr style="height: 18px;">
      <th style="color: #172154; width: 100%; height: 18px;">Support</th>
    </tr>
    <tr style="height: 22px; text-align: center;">
      <td style="width: 100%; height: 22px;"><em><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(19)">Alistar</button></em></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><em><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(20)">Bard</button></em></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><em><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(21)">Blitzcrank</button></em></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(22)">Brand</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(23)">Braum</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(24)">Fiddlesticks</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(25)">Janna</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(26)">Leona</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(27)">Lulu</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(28)">Lux</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(29)">Morgana</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(30)">Nami</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(31)">Naultis</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(32)">Pyke</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(33)">Rakan</button></td>
    </tr>
    <tr style="height: 18px; text-align: center;">
      <td style="width: 100%; height: 18px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(34)">Sona</button></td>
    </tr>
    <tr style="height: 26.4px; text-align: center;">
      <td style="width: 100%; height: 26.4px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(35)">Soraka</button></td>
    </tr>
    <tr style="height: 23px; text-align: center;">
      <td style="width: 100%; height: 23px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(36)">Tahm Kench</button></td>
    </tr>
    <tr style="height: 24px; text-align: center;">
      <td style="width: 100%; height: 24px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(37)">Taric</button></td>
    </tr>
    <tr style="height: 22px; text-align: center;">
      <td style="width: 100%; height: 22px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(38)">Thresh</button></td>
    </tr>
    <tr style="height: 29px; text-align: center;">
      <td style="width: 100%; height: 29px;"><button style="background-color: #172154; color: #e6b533;" (click)="getSupportByNumber(39)">Zilean</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <h2>&nbsp;&nbsp;&nbsp;</h2>
  <hr />
  <p>&nbsp;</p>
  <table style="width: 48.9045%; height: 117px; background-color: #172154; border-color: #e6b533; margin-left: auto; margin-right: auto;">
    <tbody>
    <tr>
      <td style="width: 100%;">
        <h2 style="text-align: center;"><span style="color: #e6b533;">Select A Champion:</span></h2>
      </td>
    </tr>
    <tr>
      <td style="width: 100%; text-align: center;"><span style="color: #e6b533;">
<input #championNumber type='text' placeholder="Champion Number"(keyup.enter)="getChampionByNumber(championNumber.value)"
/>
<button (click)="getChampionByNumber(championNumber.value)">
Get Champion
</button>
</span>
      </td>
    </tr>
    <tr>
      <td style="width: 100%;">
        <h2 style="text-align: center;"><span style="color: #e6b533;">Selected Champion:</span></h2>
      </td>
    </tr>
    <tr>
      <td style="width: 100%; text-align: center;">
        <p><span style="color: #e6b533;">
<label *ngIf="error">{{error.error}}</label>
<ul *ngIf="champion"></ul>
</span></p>
        <p><span style="color: #e6b533;">Champion Number: {{champion.championNumber}}</span></p>
        <p><span style="color: #e6b533;">Name: {{champion.championName}}</span></p>
        <p><span style="color: #e6b533;">Champion Counter: {{champion.counter}}</span></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
